.MyCarousel {

  position: relative;
  text-align: center;
  width: 100%;
  max-width: 30%;
 
  height: 300px; 
}

.carousel-root {

  position: relative;
 
  margin-top: 20px; 
  width: 20%; 
  height: 30%;
  text-align: center;
  
} 
